h1 {
  text-align: center;
}
h3 {
  margin-left: -2.16em;
}
ul {
  text-align: -webkit-center;
  background: black;
}
li {
  width: 94%;
  list-style-type: none;
}
.list-container  {
  display: flex;
}
.color-red { color: rgb(255, 172, 89); }
.color-yellow { color: rgb(230, 122, 0); }
.color-green { color: #824300; }
.color-magenta { color: rgb(248, 111, 111); }
.color-purple { color: rgb(142, 13, 255); }
.color-orange { color: rgb(255, 106, 245); }
.color-blue { color: rgb(141, 194, 241); }